body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: orange;
  padding: 1rem;
  color: white;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.meal-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 300px;
  margin: 0 auto;
}

.meal-card:hover {
  transform: translateY(-5px);
}

.meal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.meal-info {
  padding: 15px;
  text-align: center;
}

.meal-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.meal-info p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #666;
}

.meal-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.meal-link:hover {
  background-color: #0056b3;
}


@media (max-width: 1200px) {
  #results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #results{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #results {
    grid-template-columns: 1fr;
  }
}

//ventana modal

/* Estilo para el elemento <dialog> */
dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
}

/* Botón de cierre */
.boton-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #007BFF;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilo para asegurar que el contenido dentro del modal sea responsive */
.modal-img {
  max-width: 100%;
  height: auto;
}
